* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.about_h2 {
  color: green;
  padding: 20px;
}
.about_row {
  display: flex;
  align-items: flex-center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.about_image {
  flex: row;
  width: 200px;
  height: auto;
  padding: 10px;
}

.about_para {
  flex: 1 1 300px;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
}
